section.aa-services {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
section.aa-services .container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20px;
}
section.aa-services .container h1.title {
  color: var(--primary-color);
  font-size: 30px;
}
section.aa-services .container p.pagebody {
  font-size: 21px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
}
section.aa-services .container .file-format-tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}
section.aa-services .container .file-format-tags span.title {
  color: var(--primary-color);
  font-size: 25px;
}
section.aa-services .container .file-format-tags .tags {
  display: grid;
  grid-template-columns: repeat(5, 130px);
  gap: 15px;
}
section.aa-services .container .file-format-tags .tags a.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 10px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
section.aa-services .container .file-format-tags .tags a.tag .tooltip {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  background-color: rgb(205, 205, 205);
  padding: 5px 10px;
  border-radius: 50px;
  border: 2px solid rgb(187, 187, 187);
  transition: all 0.3s ease;
}
section.aa-services .container .file-format-tags .tags a.tag .tooltip p {
  text-align: center;
  font-size: 12px;
  color: var(--primary-color);
}
section.aa-services .container .file-format-tags .tags a.tag:hover .tooltip {
  display: flex;
}
section.aa-services .container .file-format-tags .tags a.tag img.pdf-image {
  width: 50px;
}
section.aa-services .container .file-format-tags .tags a.tag img.ai-image {
  width: 15px;
}
section.aa-services .container .file-format-tags .tags a.tag img.cdr-image {
  width: 60px;
}
section.aa-services .container .file-format-tags .tags a.tag img.jpeg-image {
  width: 50px;
}
section.aa-services .container .file-format-tags .tags .pdf {
  border: 4px solid #FF2116;
  border-radius: 50px;
}
section.aa-services .container .file-format-tags .tags .ai {
  border: 4px solid #F47F21;
  border-radius: 50px;
  background-color: #26180F;
}
section.aa-services .container .file-format-tags .tags .ai span {
  color: #F47F21;
}
section.aa-services .container .file-format-tags .tags .cdr {
  border-radius: 50px;
  background: linear-gradient(90deg, #85E31C, #298822);
}
section.aa-services .container .file-format-tags .tags .jpeg {
  border: 4px solid #007CB8;
  border-radius: 50px;
}
section.aa-services .container .file-format-tags .tags .jpeg span {
  color: #007CB8;
  font-weight: 600;
  text-align: center;
}
section.aa-services .container .file-format-tags .tags .dst {
  border-radius: 50px;
  background: linear-gradient(90deg, #6F1013, #DE2027);
}
section.aa-services .container .file-format-tags .tags .dst span {
  color: #e9eff3;
  font-weight: 600;
  text-align: center;
}
section.aa-services .container .windows {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
section.aa-services .container .windows .windows-logo,
section.aa-services .container .windows .mac-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
section.aa-services .container .windows .windows-logo img.windows-image,
section.aa-services .container .windows .mac-logo img.windows-image {
  width: 30px;
}
section.aa-services .container .windows .windows-logo img.mac-image,
section.aa-services .container .windows .mac-logo img.mac-image {
  width: 60px;
}
section.aa-services .container .windows .windows-logo span,
section.aa-services .container .windows .mac-logo span {
  color: #e9eff3;
  font-weight: 800;
}
section.aa-services .container .image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  section.aa-services {
    margin-bottom: 100px;
  }
  section.aa-services .container h1.title {
    font-size: 30px;
  }
  section.aa-services .container p.pagebody {
    font-size: 21px;
  }
  section.aa-services .container .file-format-tags {
    gap: 20px;
    margin: 20px 0;
  }
  section.aa-services .container .file-format-tags span.title {
    font-size: 25px;
  }
  section.aa-services .container .file-format-tags .tags {
    grid-template-columns: repeat(3, 130px);
    gap: 15px;
  }
  section.aa-services .container .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  section.aa-services {
    margin-bottom: 100px;
  }
  section.aa-services .container h1.title {
    font-size: 30px;
  }
  section.aa-services .container p.pagebody {
    font-size: 18px;
  }
  section.aa-services .container .file-format-tags {
    gap: 20px;
    margin: 20px 0;
  }
  section.aa-services .container .file-format-tags span.title {
    font-size: 25px;
  }
  section.aa-services .container .file-format-tags .tags {
    grid-template-columns: repeat(2, 130px);
    gap: 15px;
  }
  section.aa-services .container .windows {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  section.aa-services .container .windows .windows-logo,
  section.aa-services .container .windows .mac-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }
  section.aa-services .container .windows .windows-logo img.windows-image,
  section.aa-services .container .windows .mac-logo img.windows-image {
    width: 20px;
  }
  section.aa-services .container .windows .windows-logo img.mac-image,
  section.aa-services .container .windows .mac-logo img.mac-image {
    width: 50px;
  }
  section.aa-services .container .windows .windows-logo p,
  section.aa-services .container .windows .mac-logo p {
    color: var(--primary-color);
    font-size: 16px;
  }
  section.aa-services .container .image-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 40px;
  }
}/*# sourceMappingURL=services-grid.css.map */